.viewtrailer{
  min-height: 500px; 
  background-size: cover;
  background-position: center;
  text-shadow: 2px 3px 5px #000000;
  justify-content: flex-end;
  display: flex;
  position: relative;
  align-items:flex-end;
}
.info{
  align-items: flex-end;
}

.boton{
background-color: rgba(0, 0, 0, 0.557);
color: aliceblue;
text-shadow: 2px 3px 2px black;
outline: none;
border: 1px solid rgb(0, 238, 255);
cursor: pointer;
border-radius: 5px;
height: 50px;
}
.boton:hover{
    background-color: rgba(49, 49, 49, 0.53);
  color: rgb(255, 255, 255);
  text-shadow: 2px 3px 2px black;
  outline: none;
  border: 1px solid rgb(0, 238, 255);
  cursor: pointer;
  border-radius: 5px;
  transition: 0.25s;
}

@media(max-width:1000px){
}

.reproductor{
  background:none;
  /* padding-left: 50px; */
  align-items: center;
  height: 500px;
   /* width: 100%; */
  /* margin-left: 250px; */
  display: flex;
  position: relative;
}


.inputsearch{
  background: none;
  height: 30px;
  transition: all .3s;
    border-radius: 10px;
    outline: 1px solid #00ffff;
    border: 0;
    background-color: #00083d57;
    outline-offset: 2px;
    padding: 5px 0.8rem;
    transition: 0.25s;
    margin: 14px;
    backface-visibility: hidden;
    color: #ffffff;
    font-size: 20px;
}
.inputsearch:focus{
    background-color: #0e00a75f;
    backface-visibility: hidden;
    text-shadow: -0px 4px 3px rgba(0, 0, 0, 0.75);
}

.inputsearch::placeholder {
  color: rgba(255, 255, 255, 0.427);
  font-size: 22px;
  text-align: center;
}

.inputsearch:hover {
  text-shadow: -0px 4px 3px rgba(0, 0, 0, 0.75);
  border-radius: 15px;
  backface-visibility: hidden;
  background-color: #0a0042;
}


.buttonsearch{
  position: relative;
  display: flex;
  color: #ffffff;
  background-color: #0011446f;
  border-radius: 10px;
  border: 1px solid rgb(0, 255, 251);
  cursor: pointer;
    /* width: 260px;
    height:60px; */
    margin: 5px;
    background: none;
    transition: all .5s;
    font-size: 20px;
    color: #ffffff;
    text-shadow: -0px 4px 3px rgba(0, 0, 0, 0.75);
    box-shadow: -0px 4px 3px rgba(0, 0, 0, 0.75);
    background-color: #04006b53;
}

.buttonsearch:hover {
  background-color: #05009a62;
  cursor: pointer;
  /* width: 278px;
  height:60px; */
  /* margin: 120px; */
  border: 1px solid rgb(0, 255, 251);
  border-radius: 15px;
  transition: all .5s;
  font-size: 20px;
  color: #ffffff;
  text-shadow: -0px 4px 3px rgba(0, 0, 0, 0.75);
  box-shadow: -0px 4px 3px rgba(0, 0, 0, 0.75);
}


.containerall{
  background-image: linear-gradient(rgba(0, 0, 0, 0.567), rgba(0, 0, 0, 0.755)),url("./backgrounds/scott-webb-aHhhdKUP77M-unsplash.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  color: #ffffff;
  text-shadow: 2px 3px 4px #000000;
}

.h2{
    /* backdrop-filter: blur(50px); */
  font-size: 60px;
  text-align: center;
  color: #ffffff;;
}

.moviet{
font-size: 45px;
}
.text{
  font-size: 20px;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #001642;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
